// Range Slider
$range-width: 100% !default;
$range-handle-size: 20px !default;
$range-track-height: 10px !default;
$range-label-width: 60px !default;

.range-slider {
    width: $range-width;

    .range-slider__range {
        -webkit-appearance: none;
        width: calc(100% - (#{$range-label-width + 60px}));
        height: $range-track-height;
        border-radius: 5px;
        background: $secondary-blue;
        outline: none;
        padding: 0;
        margin: 0;

        // Range Handle
        &::-webkit-slider-thumb {
            appearance: none;
            width: $range-handle-size;
            height: $range-handle-size;
            border-radius: 50%;
            background: $secondary;
            cursor: pointer;
            transition: background .15s ease-in-out;

            &:hover {
                background: $secondary;
            }
        }

        &:active::-webkit-slider-thumb {
            background: $secondary;
        }

        &::-moz-range-thumb {
            width: $range-handle-size;
            height: $range-handle-size;
            border: 0;
            border-radius: 50%;
            background: $white;
            cursor: pointer;
            transition: background .15s ease-in-out;

            &:hover {
                background: $secondary;
            }
        }

        &:active::-moz-range-thumb {
            background: $secondary;
        }

    }


    // Range Label
    .dollar-value {
        position: relative;
        display: inline-block;
        width: 26px;
        color: $white;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        background: $secondary-blue;
        padding: 5px 9px;
        margin-left: -18px;
    }

    .range-slider__value {
        display: inline-block;
        position: relative;
        width: $range-label-width;
        color: $white;
        line-height: 20px;
        text-align: center;
        border-radius: 3px;
        background: $secondary-blue;
        padding: 5px 10px;
        margin-left: 8px;

        &:after {
            position: absolute;
            top: 8px;
            left: -7px;
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-right: 7px solid $secondary-blue;
            border-bottom: 7px solid transparent;
            content: '';
        }
    }
}




// Firefox Overrides
::-moz-range-track {
    background: $white;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}